[submodule "lib/foundry-devops"]
	path = lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "FundMe/lib/foundry-devops"]
	path = FundMe/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
